
#room07pass{
    width:100%;
    height: auto;
    position: absolute;
    top: 30px;
    left:0;
}
#room07pass #room07passTop,
#room07pass #room07passCenter,
#room07pass #room07passBottom{
    width:1300px;
    margin:auto;
    position: relative;
    margin-bottom: 50px;
}
#room07pass #room07passTop #topbg,
#room07pass #room07passCenter #centerbg,
#room07pass #room07passBottom #bottombg{
    width:100%;
}
#room07pass #room07passTop #p7box{
    position: absolute;
    top: 199px;
    left:1062px;
    width:180px;
    height: auto;
    cursor: pointer;
}
#room07pass #room07passTop #p7-prevPage{
    position: absolute;
    top: 0;
    left:0;
}
#room07pass #room07passCenter{
    position: relative;
}
#room07pass #room07passCenter .p7control{
    position: absolute;
    width:181px;
    height: auto;
    cursor: pointer;
    transition: all .5s ease;
}
#room07pass #room07passCenter #p7control1{
    position: absolute;
    top: 230px;
    left:380px;
    transition: all .5s ease;
}
#room07pass #room07passCenter #p7control2{
    position: absolute;
    top: 443px;
    left:597px;
}
#room07pass #room07passCenter #p7control3{
    position: absolute;
    top: 232px;
    left:792px;
}
#room07pass #room07passCenter #p7control4{
    position: absolute;
    top: 443px;
    left:1021px;
}
#room07pass #room07passCenter #p7people{
    position: absolute;
    top: 300px;
    left:230px;
    /* transform: translate(175px, -235px); */
    /* top:65px;
    left:405px; */
    /* top:65px;
    left:814px; */
    /* top:280px;
    left:620px; */
    /* top:280px;
    left:1029px; */
    width:140px;
}
#room07pass #room07passBottom{
    position: relative;
}
#room07pass #room07passBottom #p7badge{
    position: absolute;
    top: 387px;
    left:282px;
    width:127px;
    display: none;
}
#room07pass #room07passBottom #p7eyeBox{
    position: absolute;
    top: 39%;
    left:89.3%;
    width:116px;
    height: 116px;
    background-color: transparent;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
}
#room07pass #room07passBottom #p7eye1{
    position: absolute;
    top: 0%;
    right: 4%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .1s linear;
    display:none;
}
#room07pass #room07passBottom #p7eye2{
    position: absolute;
    top: 14%;
    right: 0%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .2s linear;
    display:none;
}
#room07pass #room07passBottom #p7eye3{
    position: absolute;
    top: 28%;
    right: -4%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .3s linear;
    display:none;
}
#room07pass #room07passBottom #p7eye4{
    position: absolute;
    top: 42%;
    right: -7%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .4s linear;
    display:none;
}
#room07pass #room07passBottom #p7eye5{
    position: absolute;
    top: 56%;
    right: -4%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .5s linear;
    display:none;
}
#room07pass #room07passBottom #p7eye6{
    position: absolute;
    top: 70%;
    right: 0%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .6s linear;
    display:none;
}
#room07pass #room07passBottom #p7eye7{
    position: absolute;
    top: 84%;
    right: 4%;
    width:90px;
    cursor: pointer;
    animation:  p7eye .7s linear;
    display:none;
}
.show{
    display: block;
}
@keyframes p7eye{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}