#room01pass{
    width:100%;
    height: auto;
    position: absolute;
    /* position: relative; */
    top: 30px;
    left:0;
}
#room01pass #room01passContent{
    width:100%;
    margin:auto;
    /* position: relative; */
    margin-top: 50px;
    height: 600px;
    /* background-image: url("./images/pass01/top.png"); */
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: none;
}
#room01pass #room01passContent::-webkit-scrollbar {
    width: 0.1em;
  }
  #room01pass #room01passContent::-webkit-scrollbar-button{
    background: #000;
  }
  #room01pass #room01passContent::-webkit-scrollbar-track-piece{
    background: #000;
  }
  #room01pass #room01passContent::-webkit-scrollbar-thumb {
    /* background-color: #fff;
    height: 0;
    width:0;
    display: none;
    opacity: none; */
  }
  #room01pass #pass01border{
    width:1300px;
    margin:auto;
    position: relative;
}
#room01pass #p1border{
    width:100%;
    position: absolute;
    top: 0;
    left:0;
}
#room01pass #room01passTop,
#room01pass #room01passBottom,
#room01pass #room01passBottom2,
#room01pass #room01passselect{
    width:1300px;
    margin:auto;
    position: relative;
    margin-bottom: 50px;
    height: 550px;
}
#room01pass #room01passTop #topbg01,
#room01pass #room01passBottom #bottombg01,
#room01pass #room01passBottom #bottombg01girl,
#room01pass #room01passselect #p1selectbg{
    width:100%;
}

#room01pass  #p1-prevPage{
    position: absolute;
    top: 0px;
    left:7px;
    width:40px;
    height: 32px;
    cursor: pointer;
    border:none;
}
#room01pass  #p1-prevPage:hover{
    transform: scale(1.1);
}
#room01pass  #p1-home{
    position: absolute;
    top: 10px;
    left:61.5px;
    width:40px;
    height: 32px;
    cursor: pointer;
    border:none;
}
#room01pass  #p1-home:hover{
    transform: scale(1.1);
}
#room01pass #room01passBottom #p1-prevPage-2{
    position: absolute;
    top: 9px;
    left:7px;
    width:40px;
    height: 32px;
    cursor: pointer;
    border:none;
}
#room01pass #room01passBottom #p1-prevPage-2:hover{
    transform: scale(1.1);
}
#room01pass #room01passTop #p1box{
    position: absolute;
    top: 226px;
    left:1081.5px;
    width:154px;
    height: auto;
    cursor: pointer;
}

#room01pass #room01passBottom #p1body{
    position: absolute;
    top: 229px;
    left:430px;
    width:808px;
    height: auto;
}
#room01pass #room01passBottom #p1body2{
    position: absolute;
    top: 229px;
    left:480px;
    width:780px;
    height: auto;
}
#room01pass #room01passBottom #p1head{
    position: absolute;
    top: 162px;
    left:1062px;
    width:99px;
    height: auto;
    /* top: 215px;
    left:1056px;
    width:111px; */
}
#room01pass #room01passBottom #p1head2{
    position: absolute;
    top: 139px;
    left:1028px;
    width:122px;
    height: auto;
}
#room01pass #room01passBottom #p1cm{
    position: absolute;
    top: 518px;
    left:825px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#room01pass #room01passBottom #p1cm #p1number{
    color:#FF429D;
    font-weight: 600;
    font-family: fzyxb;
    font-size: 14px;
    letter-spacing:3px;
}
#room01pass #room01passBottom #p1cm > img{
    width:20px;
    height: auto;
    margin:0 13px;
    cursor: pointer;
}
#room01pass #room01passBottom .p1outwardBtn{
    position: absolute;
    left:601px;
    width:18px;
    height: 17px;
    background-color: transparent;
    cursor: pointer;
}
#room01pass #room01passBottom .p1outwardBtn#p1outwardBtn1{
    top: 270.5px;
}
#room01pass #room01passBottom .p1outwardBtn#p1outwardBtn2{
    top: 292.5px;
}
#room01pass #room01passBottom .p1outwardBtn#p1outwardBtn3{
    top: 314.5px;
}
#room01pass #room01passBottom .p1outwardBtn#p1outwardBtn4{
    top: 336.5px;
}
#room01pass #room01passBottom .p1outwardBtn#p1outwardBtn5{
    top: 358.5px;
}

#room01pass #room01passBottom #p1headtext {
    position: absolute;
    /* top: 381px; */
    top: 335px;
    left:409px;
    width:100px;
    height: auto;
}
#room01pass #room01passBottom #p1headleft{
    position: absolute;
    top: 366px;
    left:409px;
    width:48px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom #p1headright{
    position: absolute;
    top: 366px;
    left:461px;
    width:48px;
    height: auto;
    cursor: pointer;
}

#room01pass #room01passBottom .p1add{
    position: absolute;
    top: 505px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom .p1add#p1add1{
    left:395px;
}
#room01pass #room01passBottom .p1add#p1add2{
    left:475px;
}
#room01pass #room01passBottom .p1add#p1add3{
    left:555px;
}
#room01pass #room01passBottom .p1add#p1add4{
    left:635px;
}
#room01pass #room01passBottom .p1add#p1add5{
    left:715px;
}
#room01pass #room01passBottom .p1addnumber{
    position: absolute;
    top: 495px;
    width:20px;
    height: 20px;
    background-color: #D8057D;
    color:#000;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border-radius: 50%;
    font-family: MANROPE;
    font-weight: 600;
    display: none;

}
#room01pass #room01passBottom .p1addnumber#p1addnumber1{
    left:430px;
}
#room01pass #room01passBottom .p1addnumber#p1addnumber2{
    left:510px;
}
#room01pass #room01passBottom .p1addnumber#p1addnumber3{
    left:590px;
}
#room01pass #room01passBottom .p1addnumber#p1addnumber4{
    left:670px;
}
#room01pass #room01passBottom .p1addnumber#p1addnumber5{
    left:750px;
}
#room01pass #room01passBottom #p1attr1 {
    position: absolute;
    top: 127px;
    left:597px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom #p1attr2 {
    position: absolute;
    top: 127px;
    left:677px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom #p1attr3 {
    position: absolute;
    top: 127px;
    left:757px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom #p1attr4 {
    position: absolute;
    top: 163px;
    left:597px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom #p1attr5 {
    position: absolute;
    top: 163px;
    left:677px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passBottom #p1attr6 {
    position: absolute;
    top: 163px;
    left:757px;
    width:70px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passselect #p1boy{
    position: absolute;
    top: 193px;
    left:535px;
    width:276px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passselect #p1girl{
    position: absolute;
    top: 193px;
    left:845px;
    width:276px;
    height: auto;
    cursor: pointer;
}
#room01pass #room01passselect #p1step{
    position: absolute;
    bottom: 38px;
    right:67px;
    width:87px;
    height: auto;
    cursor: pointer;
}