@font-face{
    font-family: fzyx;
    src: url(./font/FZYXB.TTF);
}
#room04{
    width: 1400px;
    height: 672px;
    background-color: #000;
    position: relative;
    top: 0;
    left:0;
    margin: auto;
    overflow: hidden;
    /* background: url("./images/room07/bg.png") no-repeat; */
    background-size:cover;
    display: none;
    z-index: 999;
}
#room04 .bgimg{
    width: 1400px;
    height: 672px;
    position: relative;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: .3s;
    z-index: -99999999999999;
    display: flex;
    align-items: center;
}
#room04 .bgimg > img{
    width: 1400px;
    height: 672px;
    object-fit: contain;
    position: absolute;
    top:0;
    left: 0;
}
#room04 .room04ImgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 672px;
}
#room04 .room{
    width: 800px;
    height: 442px;
    position: absolute;
    left: calc(50% - 410px);
    top:calc(50% - 280px);
    z-index: 1;
    animation: start 1s linear;
    
}

#room04 #room04People{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 210.2px;
    left: 614px;
    width: 200px;
    height: auto;
    z-index: 1;
    cursor: pointer;
    display: none;
}
#room04 .textBox{
    position: absolute;
    top: 84.8%;
    left: 4%;
    display: flex;
    align-items: center;
    width: 620px;
    height: 55px;
    z-index: 999;
    
}
#room04 .roomText{
    font-size: 1rem;
    display: none;
    opacity: 0;
    color:#FFCEB6;
    line-height: 1.3;
    letter-spacing:2.5px;
    font-family: yo,'Comfortaa';
    transform: scale(1,0.95);
    font-weight: 500;
    
}
#room04 #r4Password{
    position: absolute;
    bottom: 6.5%;
    right:13%;
    width: 200px;
    height: 60px;
    font-size: 36px;
    outline: none;
    border:none;
    background-color: transparent;
    color:#FFCEB6;
    letter-spacing:11px;
    font-family: 'Comfortaa';
    transform: scale(1,0.7);
    font-weight: 600;
    z-index: 3;
    display: none;
}
#room04 .r4botoomBorder{
    position: absolute;
    bottom:8%;
    width:20px;
    height: 2px;
    background-color: #FFCEB6;
    border-radius: 6px;
    display: none;

}
#room04 .r4botoomBorder#r4border1{
    left:72.7%;
}
#room04 .r4botoomBorder#r4border2{
    left:74.9%;
}
#room04 .r4botoomBorder#r4border3{
    left:77.1%;
}
#room04 .r4botoomBorder#r4border4{
    left:79.3%;
}
#room04 .r4botoomBorder#r4border5{
    left:81.5%;
}
#room04 #r4Enter{ 
    position: absolute;
    bottom: 7.3%;
    right:2.9%;
    width: 105px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room04 #r4-prevPage{
    position: absolute;
    top: 6.85%;
    left:2.65%;
    width:37px;
    height: auto;
    display: none;
    cursor: pointer;
    z-index: 2;
}
#room04 #r4-prevPage:hover{
    transform: scale(1.1);
}
#room04 .r4arrow{
    width: 10px;
    height: auto;
    position: absolute;
    bottom: 7.5%;
    display: none;
    opacity: 0;
    
}
#room04 #r4arrow1{
    left:54.8%;
}
#room04 #r4arrow2{
    left:55.5%;
}
#room04 #r4arrow3{
    left:56.2%;
}
#room04 #r4arrow4{
    left:56.9%;
}
#room04 #r4arrow5{
    left:57.6%;
}
#room04 #r4arrow6{
    left:58.3%;
}
#room04 #r4arrow7{
    left:59%;
}


#room04 #r4productpage{
    position: absolute;
    top: 30%;
    left:34.5%;
    width:181px;
    z-index: 997;
    display: none;
}
#room04 #r4productBox1{
    position: absolute;
    top: 33.7%;
    left:22.3%;
    width:162px;
    height: 52px;
    background-color:transparent;
    z-index: 999;
    cursor: pointer;
}
#room04 #r4productBox2{
    position: absolute;
    top: 42%;
    left:22.3%;
    width:162px;
    height: 52px;
    background-color:transparent;
    z-index: 999;
    cursor: pointer;
}
#room04 #r4productBox3{
    position: absolute;
    top: 50.3%;
    left:22.3%;
    width:162px;
    height: 52px;
    background-color:transparent;
    z-index: 999;
    cursor: pointer;
}
#room04 #r4productBox4{
    position: absolute;
    top: 58.6%;
    left:22.3%;
    width:162px;
    height: 52px;
    background-color:transparent;
    z-index: 999;
    cursor: pointer;
}
#room04 #r4liveTextBox{
    position: absolute;
    top: 50%;
    left:73%;
    color:#FFE9DB;
    z-index: 999;
    line-height: 1.2;
    background-color: transparent;
    height: 80px;
    overflow: hidden;
    display: none;
    
}
#room04 #r4liveTextBox p {
    font-size: 12px;
    font-family: fzyx;
    font-weight: 600;
    transform: scale(0.9);
}
#room04 #r4livetext1{
    margin-top: 0px;
    animation: livetext 5s linear;
}
#room04 #r4liveBox{
    position: absolute;
    top: 30.2%;
    left:71.8%;
    width:182px;
    height: 250px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room04 #r4shopaholicBox{
    position: absolute;
    top:12.5%;
    left:79.4%;
    width:132px;
    height: 82.63px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room04 #r4shopaholicBox img{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}
#room04 #r4shopaholicBox:hover > img{
    opacity: 1;
}
#room04 #r4pig{
    position: absolute;
    top: 64.3%;
    left:11.7%;
    width:130px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room04 #r4progress{
    position: absolute;
    top: 30%;
    left:64%;
    width:100px;
    height: 286px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room04 #r4double11{
    position: absolute;
    top: 40%;
    right:7.5%;
    width:92px;
    height: 86px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room04 #r4double11 #r4date11{
    position: absolute;
    top: 43px;
    left:60px;
    width:14px;
    display:  none;
}
#room04 #r4double11:hover > #r4date11{
    transform: scale(1.5);
    transition: .5s;
}
#room04 #r4airplane{
    position: absolute;
    top: 10%;
    left:66.5%;
    width:171px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room04 #r4parachute1{
    position: absolute;
    top: 22%;
    left:68%;
    width:25px;
    opacity: 0;
    animation: parachute 2s linear;
    display: none;
}
#room04 #r4parachute2{
    position: absolute;
    top: 18%;
    left:71%;
    width:40px;
    opacity: 0;
    animation: parachute 2s linear;
    display: none;
}
#room04 #r4parachute3{
    position: absolute;
    top: 16%;
    left:75%;
    width:32px;
    opacity: 0;
    animation: parachute 2s linear;
    display: none;
}
#room04 #r4shopBox{
    position: absolute;
    top: 67.5%;
    right:2%;
    width:137px;
    height: 100px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room04 #r4taobao{
    position: absolute;
    top: 70%;
    left:90%;
    width:30px;
    z-index: 999;
    animation: taobao 1.5s linear;
    display: none;
    transform: translate(-95px,45px);
}
#room04 #r4ship{
    position: absolute;
    top: 70%;
    left:90%;
    width:30px;
    z-index: 999;
    animation: ship 1.25s linear;
    display: none;
    transform: translate(-60px,45px);
}
#room04 #r4momo{
    position: absolute;
    top: 70%;
    left:90%;
    width:30px;
    z-index: 999;
    animation: momo 1s linear;
    display: none;
    transform: translate(-25px,45px);
}
#room04 #r4circle{
    position: absolute;
    /* top: 52.6%; */
    /* top:55.4%; */
    /* top: 58.2%; */
    /* top:61%; */
    top:63.8%;
    top:66.6%;
    left:64.92%;
    width:6px;
    height: 6px;
    background-color: #90CDB2;
    border-radius: 50%;
    border: 2px #EA5739 solid;
    z-index: 999;
    display: none;
}
#room04 #r4gold1{
    position: absolute;
    top: 40%;
    left:40%;
    width:35px;
    animation: anim-gold 1.5s linear infinite;
    display: none;
}
#room04 #r4gold2{
    position: absolute;
    top: 28%;
    left:43%;
    width:35px;
    animation: anim-gold 1.5s linear infinite;
    display: none;
}
#room04 #r4gold3{
    position: absolute;
    top: 38%;
    left:56%;
    width:35px;
    animation: anim-gold 1.5s linear infinite;
    display: none;
}
#room04 #r4gold4{
    position: absolute;
    top: 28%;
    left:55%;
    width:35px;
    animation: anim-gold 1.5s linear infinite;
    display: none;
}
#room04 #r4gold5{
    position: absolute;
    top: 32%;
    left:58%;
    width:35px;
    animation: anim-gold 1s linear infinite;
    display: none;
}
@keyframes anim-gold{
    /* 0%{
        transform:translateY(100px)  rotate(0);
    }
    10%{
        transform:translateY(0)  rotate(0);
    }
    100%{
        transform: translateY(0) rotate(6000deg);
    } */
    0%{
        transform:translateY(100px);
        opacity: 1;        
    }
    60%{
        opacity: 1;
    }
    100%{
        transform:translateY(0px);
        opacity: 0;
    }
}
@keyframes momo{
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    50%{
        opacity: 1;
        transform: translate(-15px,45px);
    }
    75%{
        transform: translate(-20px,35px);
    }
    100%{
        
        transform: translate(-25px,45px);
    }
   
   
}
@keyframes ship{
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    40%{
        opacity: 1;
        transform: translate(-30px,45px);
    }
    55%{
        transform: translate(-40px,35px);
    }
    70%{
        
        transform: translate(-50px,45px);
    }
    85%{
        transform: translate(-55px,40px);
    }
    100%{
        
        transform: translate(-60px,45px);
    }
   
}
@keyframes taobao{
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    40%{
        opacity: 1;
        transform: translate(-65px,45px);
    }
    55%{
        transform: translate(-75px,35px);
    }
    70%{
        
        transform: translate(-85px,45px);
    }
    85%{
        transform: translate(-90px,40px);
    }
    100%{
        
        transform: translate(-95px,45px);
    }
   
}
@keyframes parachute{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0.1;
        transform: translateY(60px);
    }
}
@keyframes livetext{
    0%{
        margin-top:80px;
    }
    10%{
        margin-top: 63px;
    }
    20%{
        margin-top: 63px;
    }
    30%{
        margin-top: 49px;
    }
    40%{
        margin-top: 49px;
    }
    50%{
        margin-top: 34px;
    }
    60%{
        margin-top: 34px;
    }
    70%{
        margin-top: 20px;
    }
    80%{
        margin-top: 20px;
    }
    90%{
        margin-top: 0;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }

}
#room04 .room .background{
    width: 800px;
    height: auto;z-index: -1;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room04 .room .people{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 124px;
    left: 283px;
    width: 265px;
    height: auto;
    z-index: 99999999999999;
    cursor: pointer;
}

#room04 .room .card{
    position: absolute;
    top: 60px;
    right: -20px;
    width: 280px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}

#room04 .room .card-right{
    position: absolute;
    bottom: -45px;
    right: -23px;
    width: 360px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room04 .room .card-left{
    position: absolute;
    bottom: -60px;
    left: -23px;
    width: 390px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}


#room04pass{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    display: none;
    z-index: 2;
}


#room04 #r4alertPage{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999999999999;
    display: none;
} 
#room04 #r4alert{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;

}
#room04 #r4alertText{
    color:#fff;
    font-size: 20px;
    font-family: fzyxb;
    letter-spacing:3px;
}
#room04 #r4alertBtn{
    width: 100px;
    height: 35px;
    border: 1px #ccc solid;
    background-color: transparent;
    color:#ccc;
    text-align: center;
    line-height: 35px;
    transform: translateY(30px);
    cursor: pointer;
    font-family: 'Manrope';
    font-weight: 600;
    letter-spacing:3px;
}