@font-face {
    font-family: yo;
    src: url('./font/源樣黑.ttf');
  }
  @font-face {
    font-family: fzyxb;
    src: url('./font/FZYXB.TTF');
  }
#room06{
    width: 1400px;
    height: 672px;
    background-color: #000;
    position: relative;
    top: 0;
    left:0;
    margin: auto;
    overflow: hidden;
    /* background: url("./images/room07/bg.png") no-repeat; */
    background-size:cover;
    display: none;
    z-index: 999;
    
}

#room06 .bgimg{
    width: 1400px;
    height: 672px;
    position: relative;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: .3s;
    z-index: -99999999999999;
    display: flex;
    align-items: center;
}
#room06 .bgimg > img{
    width: 1400px;
    height: 672px;
    object-fit: contain;
    position: absolute;
    top:0;
    left: 0;
}
#room06 .room06ImgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 672px;
}
#room06 .room{
    width: 800px;
    height: 442px;
    position: absolute;
    left: calc(50% - 410px);
    top:calc(50% - 280px);
    z-index: 1;
    animation: start 1s linear;
    
}
#room06 #room06People{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 31.5%;
    left:39.6%;
    width: 260px;
    height: auto;
    z-index: 1;
    cursor: pointer;
    display: none;
}

#room06 .textBox{
    position: absolute;
    top: 84.8%;
    left: 4%;
    display: flex;
    align-items: center;
    width: 620px;
    height: 55px;
    z-index: 999;
}
#room06 .roomText{
    font-size: 1rem;
    display: none;
    opacity: 0;
    color:#E8C581;
    line-height: 1.3;
    letter-spacing:2.5px;
    font-family: yo,'Comfortaa';
    transform: scale(1,0.95);
    font-weight: 500;
    
}
#room06 #r6Password{
    position: absolute;
    bottom: 6.5%;
    right:13%;
    width: 200px;
    height: 60px;
    font-size: 36px;
    outline: none;
    border:none;
    background-color: transparent;
    color:#E8C581;
    letter-spacing:11px;
    font-family: 'Comfortaa';
    transform: scale(1,0.7);
    font-weight: 600;
    z-index: 3;
    display: none;
}
#room06 .r6botoomBorder{
    position: absolute;
    bottom:8%;
    width:20px;
    height: 2px;
    background-color: #E8C581;
    border-radius: 6px;
    display: none;

}
#room06 .r6botoomBorder#r6border1{
    left:72.7%;
}
#room06 .r6botoomBorder#r6border2{
    left:74.9%;
}
#room06 .r6botoomBorder#r6border3{
    left:77.1%;
}
#room06 .r6botoomBorder#r6border4{
    left:79.3%;
}
#room06 #r6Enter{ 
    position: absolute;
    bottom: 7.3%;
    right:2.9%;
    width: 105px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room06 #r6-prevPage{
    position: absolute;
    top: 6.85%;
    left:2.65%;
    width:37px;
    height: auto;
    display: none;
    cursor: pointer;
    z-index: 2;
}
#room06 #r6-prevPage:hover{
    transform: scale(1.1);
}


#room06 .roomBtn{
    width:65px;
    height: 65px;
    position: absolute;
    top: 73%;
    z-index: 99999;
    cursor: pointer;
}
#room06 #r6eyeBtn{
    left:40%;
    display: none;
}
#room06 #r6faceBtn{
    left:45%;
    display: none;
}
#room06 #r6makeupBtn{
    display: none;
    left:50%;
}
#room06 #r6noseBtn{
    display: none;
    left:55%;
}
#room06 #r6bells{
    position: absolute;
    top: 26.2%;
    left: 12.55%;
    width:18px;
    height: auto;
    cursor: pointer;
    transform-origin: top;
    display: none;
    
}

#room06 #r6bellshover{
    position: absolute;
    top: 20%;
    left: 10.5%;
    width: 80px;
    height: 120px;
    background-color: transparent;
    z-index: 9999;
    cursor: pointer;
    display: none;
}

#r6bells.animation{
    animation: bells 1s infinite linear;
}
#room06 #r6face{
    position: absolute;
    top: 35.5%;
    left: 46.8%;
    width: 65px;
    height: auto;
    z-index: 999;
    display: none;
}
#room06 #r6follow{
    position: absolute;
    top: 31.5%;
    right:22.2%;
    width: 84px;
    height: auto;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room06 #r6photo{
    position: absolute;
    top: 36.5%;
    left: 22.5%;
    width: 125px;
    height: auto;
    cursor: pointer;
    z-index: 998;
    display: none;
}
#room06 #r6editimg{
    position: absolute;
    top: 47.8%;
    right:25.23%;
    width:50px;
    height: auto;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room06 #r6vase{
    position: absolute;
    top: 50%;
    left:5%;
    width: 65px;
    height: auto;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room06 #r6venus{
    position: absolute;
    top: 45.5%;
    right:8%;
    width: 180px;
    height: auto;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room06 #r6venusBox{
    position: absolute;
    top: 43%;
    right:8.4%;
    width: 125px;
    height: 230px;
    background-color: transparent;
    z-index: 1100;
    cursor: pointer;
}
#room06 .r6like{
    width: 35px;
    height: auto;
    z-index: 1001;
}
#room06 #r6venus2{
    position: absolute;
    top:20.6%;
    left:19.3%;
    width: 180px;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room06 #r6love1{
    position: absolute;
    top: 30.5%;
    left:29.5%;
    width:10px;
    z-index: 9999;
    animation: love1 1s infinite linear;
    display: none;
}
#room06 #r6love2{
    position: absolute;
    top: 30.5%;
    left:29.5%;
    width:10px;
    z-index: 9999;
    animation: love2 1.5s infinite linear;
    display: none;
}
#room06 #r6love3{
    position: absolute;
    top: 30.5%;
    left:29.5%;
    width:10px;
    z-index: 9999;
    animation: love3 .8s infinite linear;
    display: none;
}
#room06 #r6love4{
    position: absolute;
    top: 30.5%;
    left:29.5%;
    width:10px;
    z-index: 9999;
    animation: love4 1.8s infinite linear;
    display: none;
}
#room06 #r6love5{
    position: absolute;
    top: 30.5%;
    left:29.5%;
    width:10px;
    z-index: 9999;
    animation: love5 1.6s infinite linear;
    display: none;
}
@keyframes love1{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(70px,70px) scale(4);
    }
}
@keyframes love2{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(35px,70px) scale(3.5);
    }
}
@keyframes love3{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(50px,40px) scale(3);
    }
}
@keyframes love4{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(25px,20px) scale(2);
    }
}
@keyframes love5{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(50px,25px) scale(2.5);
    }
}
#room06  #r6biglike1{
    position: absolute;
    top: 46%;
    right: 8%;
    animation: like1 1s infinite linear;
    display: none;
}
#room06  #r6biglike2{
    position: absolute;
    top: 51%;
    right: 7%;
    animation: like2 1s infinite linear;
    display: none;
}
#room06  #r6biglike3{
    position: absolute;
    top: 56%;
    right: 8.5%;
    animation: like3 1s infinite linear;
    display: none;
}
#room06  #r6biglike4{
    position: absolute;
    top: 61%;
    right:9.5%;
    animation: like4 1s infinite linear;
    display: none;
}
#room06  #r6biglike5{
    position: absolute;
    top: 66%;
    right: 9%;
    animation: like5 1s infinite linear;
    display: none;
}
#room06  #r6biglike6{
    position: absolute;
    top: 70%;
    right: 7%;
    animation: like6 1s infinite linear;
    display: none;
}
#room06 #liveNum{
    position: absolute;
    top: 31.0%;
    right:9.5%;
    font-size: 20px;
    font-weight: 600;
    color:#EA888F;
    display: none;
}
#room06 #cartBox{
    position: absolute;
    top: 14.5%;
    right:4.6%;
    width: 140px;
    height: 195px;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
}
#room06 #r6msg1{
    position: absolute;
    top:33%;
    right:5%;
    width:80px;
    animation: msg .9s infinite linear;
    display: none;
}
#room06 #r6msg2{
    position: absolute;
    top:37%;
    right:7%;
    width:80px;
    animation: msg 1.3s infinite linear;
    display: none;
}
#room06 #r6liveLove1{
    position: absolute;
    top: 40%;
    right:9%;
    width:23px;
    animation: liveLove 1s infinite linear;
}
#room06 #r6liveLove2{
    position: absolute;
    top: 40%;
    right:6%;
    width:23px;
    animation: liveLove 2.5s infinite linear;
}
#room06 #r6liveLove3{
    position: absolute;
    top: 40%;
    right:8%;
    width:23px;
    animation: liveLove 1.5s infinite linear;
}
#room06 #r6liveLove4{
    position: absolute;
    top: 40%;
    right:10%;
    width:23px;
    animation: liveLove 2s infinite linear;
}
#room06 #r6liveLove5{
    position: absolute;
    top: 40%;
    right:12%;
    width:23px;
    animation: liveLove 1.75s infinite linear;
}
#room06 .r6liveLove{
    display: none;
}
@keyframes liveLove{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-80px);
    }
}
#room06 #r6touchFollow{
    width:166px;
    height: 288px;
    background-color: transparent;
    position: absolute;
    top:21%;
    left:67%;
    display: none;
    z-index: 998;
}
#room06 .r6arrow{
    width: 10px;
    height: auto;
    position: absolute;
    bottom: 7.5%;
    display: none;
    opacity: 0;
    
}
#room06 #r6arrow1{
    left:54.8%;
}
#room06 #r6arrow2{
    left:55.5%;
}
#room06 #r6arrow3{
    left:56.2%;
}
#room06 #r6arrow4{
    left:56.9%;
}
#room06 #r6arrow5{
    left:57.6%;
}
#room06 #r6arrow6{
    left:58.3%;
}
#room06 #r6arrow7{
    left:59%;
}

#room06pass{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    display: none;
    z-index: 2;
}
@keyframes msg{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateY(-50px);
        opacity: 0;
    }
}
@keyframes like1{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateX(-150px);
        opacity: 0;
    }
}
@keyframes like2{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateX(-130px);
        opacity: 0;
    }
}
@keyframes like3{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateX(-170px);
        opacity: 0;
    }
}
@keyframes like4{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateX(-110px);
        opacity: 0;
    }
}
@keyframes like5{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateX(-200px);
        opacity: 0;
    }
}
@keyframes like6{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateX(-140px);
        opacity: 0;
    }
}
@keyframes start{
    0%{
        left: calc(50% - 250px);
        
    }
   
    100%{
        left: calc(50% - 410px);
    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }

}
@keyframes bells{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#room06 .room .background{
    width: 800px;
    height: auto;z-index: -1;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room06 .room .people{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 129px;
    left: 282px;
    width: 260px;
    height: auto;
    z-index: 99999999999999;
    cursor: pointer;
}
#room06 .room .card{
    position: absolute;
    top: 60px;
    right: -20px;
    width: 280px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}

#room06 .room .card-right{
    position: absolute;
    bottom: -45px;
    right: -23px;
    width: 360px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room06 .room .card-left{
    position: absolute;
    bottom: -60px;
    left: -23px;
    width: 390px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}

#room06 #r6alertPage{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999999999999;
    display: none;
} 
#room06 #r6alert{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;

}
#room06 #r6alertText{
    color:#fff;
    font-size: 20px;
    font-family: fzyxb;
    letter-spacing:3px;
}
#room06 #r6alertBtn{
    width: 100px;
    height: 35px;
    border: 1px #ccc solid;
    background-color: transparent;
    color:#ccc;
    text-align: center;
    line-height: 35px;
    transform: translateY(30px);
    cursor: pointer;
    font-family: 'Manrope';
    font-weight: 600;
    letter-spacing:3px;
}