@font-face {
    font-family: fzyxb;
    src: url('./font/FZYXB.TTF');
  }
#room05{
    width: 1400px;
    height: 672px;
    background-color: #000;
    position: relative;
    top: 0;
    left:0;
    margin: auto;
    overflow: hidden;
    /* background: url("./images/room07/bg.png") no-repeat; */
    background-size:cover;
    display: none;
    z-index: 999;
}
#room05 .bgimg{
    width: 1400px;
    height: 672px;
    position: relative;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: .3s;
    z-index: -99999999999999;
    display: flex;
    align-items: center;
}
#room05 .bgimg > img{
    width: 1400px;
    height: 672px;
    object-fit: contain;
    position: absolute;
    top:0;
    left: 0;
}
#room05 .room05ImgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 672px;
}
#room05 .room{
    width: 800px;
    height: 442px;
    position: absolute;
    left: calc(50% - 410px);
    top:calc(50% - 280px);
    z-index: 1;
    animation: start 1s linear;
    
}

#room05 #room05People{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 210.2px;
    left: 614px;
    width: 200px;
    height: auto;
    z-index: 1;
    cursor: pointer;
    display: none;
}
#room05 .textBox{
    position: absolute;
    top: 84.8%;
    left: 4%;
    display: flex;
    align-items: center;
    width: 620px;
    height: 55px;
    z-index: 999;
    
}
#room05 .roomText{
    font-size: 1rem;
    display: none;
    opacity: 0;
    color:#F7D76F;
    line-height: 1.3;
    letter-spacing:2.5px;
    font-family: yo,'Comfortaa';
    transform: scale(1,0.95);
    font-weight: 500;
    
}
#room05 #r5Password{
    position: absolute;
    bottom: 6.5%;
    right:13%;
    width: 200px;
    height: 60px;
    font-size: 36px;
    outline: none;
    border:none;
    background-color: transparent;
    color:#F7D76F;
    letter-spacing:11px;
    font-family: 'Comfortaa';
    transform: scale(1,0.7);
    font-weight: 600;
    z-index: 3;
    display: none;
}
#room05 .r5botoomBorder{
    position: absolute;
    bottom:8%;
    width:20px;
    height: 2px;
    background-color: #F7D76F;
    border-radius: 6px;
    display: none;

}
#room05 .r5botoomBorder#r5border1{
    left:72.7%;
}
#room05 .r5botoomBorder#r5border2{
    left:74.9%;
}
#room05 .r5botoomBorder#r5border3{
    left:77.1%;
}
#room05 .r5botoomBorder#r5border4{
    left:79.3%;
}
#room05 .r5botoomBorder#r5border5{
    left:81.5%;
}
#room05 #r5Enter{ 
    position: absolute;
    bottom: 7.3%;
    right:2.9%;
    width: 105px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room05 #r5-prevPage{
    position: absolute;
    top: 6.85%;
    left:2.65%;
    width:37px;
    height: auto;
    display: none;
    cursor: pointer;
    z-index: 2;
}
#room05 #r5-prevPage:hover{
    transform: scale(1.1);
}
#room05 .r5arrow{
    width: 10px;
    height: auto;
    position: absolute;
    bottom: 7.5%;
    display: none;
    opacity: 0;
    
}
#room05 #r5arrow1{
    left:54.8%;
}
#room05 #r5arrow2{
    left:55.5%;
}
#room05 #r5arrow3{
    left:56.2%;
}
#room05 #r5arrow4{
    left:56.9%;
}
#room05 #r5arrow5{
    left:57.6%;
}
#room05 #r5arrow6{
    left:58.3%;
}
#room05 #r5arrow7{
    left:59%;
}

#room05 #r5puzzle1{
    position: absolute;
    /* top:44%; */
    top: 49%;
    left:20.1%;
    width:148px;
    z-index: 999;
    transition: .5s;
    display: none;
}
#room05 #r5puzzle2{
    position: absolute;
    /* top: 54%; */
    top: 49%;
    left:20.1%;
    width:148px;
    z-index: 999;
    transition: .5s;
    display: none;
}
#room05 #r5pussleBox{
    position: absolute;
    top:39.7%;
    left:19.5%;
    width:165px;
    height: 171px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room05 #r5show{
    position: absolute;
    top: 48.5%;
    right:18.7%;
    width:55px;
    z-index: 999;
    display: none;
}
#room05 #r5showBox{
    position: absolute;
    top: 47.8%;
    right:18.1%;
    width:70px;
    height: 55px;
    z-index: 999;
    cursor: pointer;
    background-color: transparent;
}
#room05 #r5sloth{
    position: absolute;
    top:31.5%;
    left:8%;
    width:150px;
    z-index: 999;
    cursor: pointer;
    display: none;
    animation: sloth 3s  linear;
    transform-origin: 400px 100px

}
#room05 #r5checkBox{
    position: absolute;
    top: 23.1%;
    left:68.7%;
    width:192px;
    height: 107px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room05 #r5BelphegoBox1{
    position: absolute;
    top: 71%;
    left:34.6%;
    width:82px;
    height: 88px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room05 #r5BelphegoBox2{
    position: absolute;
    top: 71%;
    left:59.6%;
    width:82px;
    height: 88px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room05 #r5originalBox{
    position: absolute;
    top: 16.3%;
    left:2.9%;
    width:135px;
    height: 128px;
    background-color: transparent;
    z-index: 10000;
    cursor: pointer;
}
#room05 #r5copycatBox{
    position: absolute;
    top: 41%;
    left:67%;
    width:99px;
    height: 105px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room05 #r5copycatBox2{
    position: absolute;
    top: 51.2%;
    left:65.5%;
    width:20px;
    height: 37px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
#room05 #r5viewBox{
    position: absolute;
    top: 41.8%;
    left:67.4%;
    width:89px;
    height: 50px;
    background-color: transparent;
    z-index: 997;
    overflow: hidden;
    display: none;
}
#room05 #r5viewBox #r5view{
    width:100%;
    height: 300%;
    /* animation: view 1s infinite linear; */
}
#room05 #r5cat{
    position: absolute;
    top: 42%;
    left:67.8%;
    width:76px;
    z-index: 998;
    display: none;
}
#room05 #r5light{
    position: absolute;
    top: 16%;
    left:47%;
    width:20px;
    z-index: 998;
    /* animation: light 1.5s  linear; */
    display: none;
}
#room05 #r5handBox{
    position: absolute;
    top: 16.3%;
    left:2.5%;
    width:135px;
    height: 128px;
    background-color: transparent;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
    display: none;
}
#room05 #r5handBox #r5hand{
    position: absolute;
    right:-100%;
    top: 10px;
    width:70px;
    z-index: 999;
    /* animation: r5hand 3s  linear ; */
    display: none;
}
#room05 #r5cloud1{
    position: absolute;
    top: 53%;
    left:32%;
    width:60px;
    z-index: 999;
    animation: r5cloud 3s infinite linear;
    display: none;
}
#room05 #r5cloud2{
    position: absolute;
    top: 66%;
    left:3.5%;
    width:120px;
    z-index: 999;
    animation: r5cloud 3s infinite linear;
    display: none;
}
#room05 #r5cloud3{
    position: absolute;
    top: 62%;
    right:6%;
    width:120px;
    z-index: 999;
    animation: r5cloud 3s infinite linear;
    display: none;
}
@keyframes sloth{
    0%{
        transform:rotate(0);;
    }
    /* 10%{
        transform: translate(200px,-50px) ;
    }
    20%{
        transform: translate(400px,-100px) ;
    }
    30%{
        transform: translate(600px,-150px) ;
    }
    40%{
        transform: translate(800px,-100px) ;
    }
    50%{
        transform: translate(1000px,-50px) ;
    }
    60%{
        transform: translate(800px,0px) ;
    }
    70%{
        transform: translate(600px,50px) ;
    }
    80%{
        transform: translate(400px,100px) ;
    }
    90%{
        transform: translate(200px,50px) ;
    } */
    100%{
        transform:rotate(1turn);
    }
   
}
@keyframes r5cloud{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes light{
    0%{
        left:47%;
    }
    50%{
        left:47%;
    }
    100%{
        left:97%;
    }
}
@keyframes r5hand{
    0%{
        right:-50%;
    }
    50%{
        right:0%;
    }
    100%{
        right:-50%;
    }
}
@keyframes view{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-70%);
    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }

}
#room05 .room .background{
    width: 800px;
    height: auto;z-index: -1;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room05 .room .people{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 135px;
    left: 283px;
    width: 267px;
    height: auto;
    z-index: 99999999999999;
    cursor: pointer;
}

#room05 .room .card{
    position: absolute;
    top: 60px;
    right: -20px;
    width: 280px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}

#room05 .room .card-right{
    position: absolute;
    bottom: -45px;
    right: -23px;
    width: 360px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room05 .room .card-left{
    position: absolute;
    bottom: -60px;
    left: -23px;
    width: 390px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}


#room05pass{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    display: none;
    z-index: 2;
}


#room05 #r5alertPage{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999999999999;
    display: none;
} 
#room05 #r5alert{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;

}
#room05 #r5alertText{
    color:#fff;
    font-size: 20px;
    font-family: fzyxb;
    letter-spacing:3px;
}
#room05 #r5alertBtn{
    width: 100px;
    height: 35px;
    border: 1px #ccc solid;
    background-color: transparent;
    color:#ccc;
    text-align: center;
    line-height: 35px;
    transform: translateY(30px);
    cursor: pointer;
    font-family: 'Manrope';
    font-weight: 600;
    letter-spacing:3px;
}