@font-face {
    font-family: fzyxb;
    src: url('./font/FZYXB.TTF');
  }
#room02{
    width: 1400px;
    height: 672px;
    background-color: #000;
    position: relative;
    top: 0;
    left:0;
    margin: auto;
    overflow: hidden;
    /* background: url("./images/room07/bg.png") no-repeat; */
    background-size:cover;
    display: none;
    z-index: 999;
}
#room02 .bgimg{
    width: 1400px;
    height: 672px;
    position: relative;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: .3s;
    z-index: -99999999999999;
    display: flex;
    align-items: center;
}
#room02 .bgimg > img{
    width: 1400px;
    height: 672px;
    object-fit: contain;
    position: absolute;
    top:0;
    left: 0;
}
#room02 .room02ImgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 672px;
}
#room02 .room{
    width: 800px;
    height: 442px;
    position: absolute;
    left: calc(50% - 410px);
    top:calc(50% - 280px);
    z-index: 1;
    animation: start 1s linear;
    
}

#room02 #room02People{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 29.5%;
    left:41%;
    width: 235px;
    height: auto;
    z-index: 1;
    cursor: pointer;
    display: none;
}
#room02 .textBox{
    position: absolute;
    top: 84.8%;
    left: 4%;
    display: flex;
    align-items: center;
    width: 620px;
    height: 55px;
    z-index: 999;
    
}
#room02 .roomText{
    font-size: 1rem;
    display: none;
    opacity: 0;
    color:#C59AC5;
    line-height: 1.3;
    letter-spacing:2.5px;
    font-family: yo,'Comfortaa';
    transform: scale(1,0.95);
    font-weight: 500;
    
}
#room02 #r2Password{
    position: absolute;
    bottom: 6.5%;
    right:9.7%;
    width: 200px;
    height: 60px;
    font-size: 36px;
    outline: none;
    border:none;
    background-color: transparent;
    color:#C59AC5;
    letter-spacing:11px;
    font-family: 'Comfortaa';
    transform: scale(1,0.7);
    font-weight: 600;
    z-index: 3;
    display: none;
}
#room02 .r2botoomBorder{
    position: absolute;
    bottom:8%;
    width:20px;
    height: 2px;
    background-color: #C59AC5;
    border-radius: 6px;
    display: none;

}
#room02 .r2botoomBorder#r2border1{
    left:75.7%;
}
#room02 .r2botoomBorder#r2border2{
    left:77.9%;
}
#room02 .r2botoomBorder#r2border3{
    left:80.1%;
}
#room02 .r2botoomBorder#r2border4{
    left:82.3%;
}
#room02 #r2Enter{ 
    position: absolute;
    bottom: 7.3%;
    right:2.9%;
    width: 105px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room02 #r2-prevPage{
    position: absolute;
    top: 6.85%;
    left:2.65%;
    width:37px;
    height: auto;
    display: none;
    cursor: pointer;
    z-index: 2;
}
#room02 #r2-prevPage:hover{
    transform: scale(1.1);
}
#room02 #r2ans{
    position: absolute;
    top: 19.5%;
    left: 66.3%;
    width:80px;
    height: auto;
    display: none;
}
#room02 #r2ansBox{
    position: absolute;
    top: 18.2%;
    left:65.8%;
    width:95px;
    height: 145px;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#room02 #r2ansBox:hover ~ #r2ans{
    display: block;
}
#room02 #r2chickBox{
    position: absolute;
    top: 41%;
    left:73.5%;
    width:240px;
    height: 168px;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    display: none;
}

#room02 #r2chick{
    position: absolute;
    top: 46%;
    left:78.5%;
    width:60px;
    /* top: 47%;
    left: 77%;
    width:90px; */
    display: none;
}
#room02 #r2magnifier{
    position: absolute;
    top: 8%;
    left:calc(50% - 55px);
    width:110px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
#room02 #r2finger{
    position: absolute;
    top: 51%;
    left:10.25%;
    width:120px;
   
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room02 #r2owl{
    position: absolute;
    top:10.5%;
    left:31.8%;
    width:160px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
#room02 #r2pole{
    position: absolute;
    top: 23%;
    left:42%;
    width:218px;
    z-index: 1000;
    display: none;
}
#room02 #r2athena{
    position: absolute;
    top: 18%;
    left:16%;
    width:165px;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room02 #r2vase{
    position: absolute;
    top: 19.5%;
    left:9.1%;
    width:80px;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room02 #r2pig{
    position: absolute;
    top: 48.9%;
    left:23%;
    width:170px;
    /* top: 43.4%;
    left:22%;
    width:180px; */
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room02 #r2itbox{
    position: absolute;
    top: 29%;
    left:59.7%;
    width:180px;
    height: 240px;
    overflow: hidden;
    background-color: transparent;
    z-index: 998;
    display: none;
}
#room02 #r2itTouch{
    position: absolute;
    top: 41%;
    left:65.9%;
    width:94px;
    height: 168px;
    background-color: transparent;
    z-index: 1000;
    display: none;
    cursor: pointer;
}
#room02 #r2it{
    position: absolute;
    top:0%;
    right:-50px;
    width:170px;
    transition: .3s;
    display: none;
}
#room02 #r2love{
    position: absolute;
    top:30%;
    left:5.3%;
    width:25px;
    opacity: 0;
    display: none;
}
#room02 #r2flash{
    position: absolute;
    top: 51%;
    left:37%;
    width:40px;
    opacity: 0;
    display: none;
}
#room02 #r2stairBox{
    position: absolute;
    top: 45.3%;
    left:36.5%;
    width:33px;
    height: 200px;
    background-color: transparent;
    transform: skew(0deg, 45deg);
    z-index: 999;
    cursor: pointer;
    display: none;

}
#room02 #r2stairBox:hover ~ #r2flash{
    left:35.5%;
    opacity: 1;
    transition: .5s;
}
#room02 #r2eyeBox{
    position: absolute;
    top: 61.5%;
    left:15.7%;
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
}
@keyframes eye{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(5px,5px);
    }
    50%{
        transform: translate(-3px,-8px);
    }
    75%{
        transform: translate(-5px,5px);
    }
    100%{
        transform: translate(0,0);
    }
}
#room02 #r2eye{
    position: absolute;
    top: 68%;
    left:18.8%;
    width:10px;
    display: none;
}
#room02 #r2eyeBox:hover ~ #r2eye{
    animation: eye 1s infinite linear;
}
#room02 #r2playBox{
    position: absolute;
    top: 18%;
    left:73.5%;
    width:240px;
    height: 145px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
    display: none;
}
#room02 #r2play{
    position: absolute;
    top: calc(50% - 50px);
    left:calc(50% - 50px);
    width:100px;
    display: none;
}
#room02 #r2bullet{
    position: absolute;
    top: 20px;
    right:0;
    width:130px;
    display: none;
    opacity: 0;
    /* animation: bullet 1s infinite linear; */
}
@keyframes bullet{
    0%{
        right:-150px;
    }
    100%{
        right:50px;
    }
}
@keyframes love{
    0%{
        opacity: .1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(-50px);
    }
}
#room02 #r2buttBox{
    position: absolute;
    top: 24%;
    left:2.9%;
    width:66px;
    height: 135px;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#room02 .r2arrow{
    width: 10px;
    height: auto;
    position: absolute;
    bottom: 7.5%;
    display: none;
    opacity: 0;
    
}
#room02 #r2arrow1{
    left:54.8%;
}
#room02 #r2arrow2{
    left:55.5%;
}
#room02 #r2arrow3{
    left:56.2%;
}
#room02 #r2arrow4{
    left:56.9%;
}
#room02 #r2arrow5{
    left:57.6%;
}
#room02 #r2arrow6{
    left:58.3%;
}
#room02 #r2arrow7{
    left:59%;
}
@keyframes fadeout{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }

}
#room02 .room .background{
    width: 800px;
    height: auto;z-index: -1;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room02 .room .people{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 125px;
    left: 284px;
    width: 264px;
    height: auto;
    z-index: 99999999999999;
    cursor: pointer;
}

#room02 .room .card{
    position: absolute;
    top: 60px;
    right: -20px;
    width: 280px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}

#room02 .room .card-right{
    position: absolute;
    bottom: -45px;
    right: -23px;
    width: 360px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room02 .room .card-left{
    position: absolute;
    bottom: -60px;
    left: -23px;
    width: 390px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}


#room02pass{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    display: none;
    z-index: 2;
}



#room02 #r2alertPage{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999999999999;
    display: none;
} 
#room02 #r2alert{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;

}
#room02 #r2alertText{
    color:#fff;
    font-size: 20px;
    font-family: fzyxb;
    letter-spacing:3px;
}
#room02 #r2alertBtn{
    width: 100px;
    height: 35px;
    border: 1px #ccc solid;
    background-color: transparent;
    color:#ccc;
    text-align: center;
    line-height: 35px;
    transform: translateY(30px);
    cursor: pointer;
    font-family: 'Manrope';
    font-weight: 600;
    letter-spacing:3px;
}