@font-face {
    font-family: yo;
    src: url('./font/源樣黑.ttf');
  }
#room07{
    width: 1400px;
    height: 672px;
    background-color: #000;
    position: relative;
    top: 0;
    left:0;
    margin: auto;
    overflow: hidden;
    /* background: url("./images/room07/bg.png") no-repeat; */
    background-size:cover;
    display: none;
    z-index: 999;
}

#room07 .bgimg{
    width: 1400px;
    height: 672px;
    position: relative;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: .3s;
    z-index: -99999999999999;
    display: flex;
    align-items: center;
}
#room07 .bgimg > img{
    width: 1400px;
    height: 672px;
    object-fit: contain;
    position: absolute;
    top:0;
    left: 0;
}
#room07 .room07ImgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 672px;
}
#room07 .room{
    width: 800px;
    height: 442px;
    position: absolute;
    left: calc(50% - 410px);
    top:calc(50% - 280px);
    z-index: 1;
    animation: start 1s linear;
    
}
#room07 #room07People{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 29.5%;
    left:40%;
    width: 235px;
    height: auto;
    z-index: 1;
    cursor: pointer;
    display: none;
}
#room07 .textBox{
    position: absolute;
    top: 84.8%;
    left: 4%;
    display: flex;
    align-items: center;
    width: 620px;
    height: 55px;
    z-index: 999;
    
}
#room07 .roomText{
    color:#ddd;    
    font-size: 1rem;
    display: none;
    opacity: 0;
    color:#E5DC46;
    line-height: 1.3;
    letter-spacing:2.5px;
    font-family: yo,'Comfortaa';
    transform: scale(1,0.95);
    font-weight: 500;
    
}
#room07 #r7Password{
    position: absolute;
    bottom: 6.5%;
    right:13%;
    width: 200px;
    height: 60px;
    font-size: 36px;
    outline: none;
    border:none;
    background-color: transparent;
    color:#E5DC46;
    letter-spacing:11px;
    font-family: 'Comfortaa';
    transform: scale(1,0.7);
    font-weight: 600;
    z-index: 3;
    display: none;
}
#room07 .r7botoomBorder{
    position: absolute;
    bottom:8%;
    width:20px;
    height: 2px;
    background-color: #E5DC46;
    border-radius: 6px;
    display: none;
}
#room07 .r7botoomBorder#r7border1{
    left:72.7%;
}
#room07 .r7botoomBorder#r7border2{
    left:74.9%;
}
#room07 .r7botoomBorder#r7border3{
    left:77.1%;
}
#room07 .r7botoomBorder#r7border4{
    left:79.3%;
}
#room07 #r7Enter{ 
    position: absolute;
    bottom: 7.3%;
    right:2.9%;
    width: 105px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 #r7-prevPage{
    position: absolute;
    top: 6.85%;
    left:2.65%;
    width:37px;
    height: auto;
    display: none;
    cursor: pointer;
    z-index: 2;
}
#room07 #r7-prevPage:hover{
    transform: scale(1.1);
}
#room07 #r7Zenly{
    position: absolute;
    top: 24%;
    left:23%;
    width: 100px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 .yellowlove{
    position: absolute;
    top: 20%;
    left:26.5%;
    width: 25px;
    height: auto;
    cursor: pointer;
    animation: yellowlove 1s infinite linear;
    display: none;
    z-index: 2;

}
#room07 .redlove{
    position: absolute;
    top: 24%;
    left:3.9%;
    width: 28px;
    height: auto;
    cursor: pointer;
    animation: redlove 1.5s infinite linear;
    display: none;
    z-index: 2;
}
#room07 #r7hoverLove{
    position: absolute;
    top: 21%;
    left: 2.2%;
    background: transparent;
    width: 115px;
    height: 180px;
    cursor: pointer;
    display:none;
    z-index: 2;
}
#room07 #r7Bird{
    position: absolute;
    top: 18.7%;
    left: 7.6%;
    width: 105px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 #r7Bird:hover{
    transform-origin:top;
    animation: rotateBrid 3s linear infinite;
}

#room07 #r7foot{
    position: absolute;
    bottom:19.5%;
    left: 12%;
    width: 180px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 #r7cupid{
    position: absolute;
    top:23%;
    left: 54.3%;
    width: 135px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 #r7cupid:hover{
    animation: cupid 1s infinite linear;
}
@keyframes cupid{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    0%{
        transform: translateY(0px);
    }
}
#room07 #r7puppet{
    position: absolute;
    top:35.8%;
    left: 41.5%;
    width: 75px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 #r7Gps{
    position: absolute;
    top:53.2%;
    left: 7.15%;
    width: 18px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 1;
    transition: .5;
}

#room07 #r7hoverGPS{
    position: absolute;
    top:50%;
    left: 5.7%;
    width: 70px;
    height: 100px;
    transform: skewX(23deg);
    cursor: pointer;
    background-color: transparent;
    display: none;
    z-index: 2;
}
#r7Gps.scale{
    transform: scale(1.2);
}
#room07 #r7talkBox{
    position: absolute;
    top:21.8%;
    left: 80.2%;
    width: 140px;
    height: 194px;
    cursor: pointer;
    perspective: 1000px;
    display: none;
    z-index: 2;
    
}
#room07 #r7talkBox img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 2;
}
#room07 #r7talkBox:hover > #r7talk{
    transform: rotateY(180deg);
}
#room07 #r7talkBox:hover > #r7talkhover{
    transform: rotateY(0deg);
}
#room07 #r7talkBox #r7talk{
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: .4s ease-in-out;
    z-index: 2;
}
#room07 #r7talkBox #r7talkhover{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: .4s ease-in-out;
}
#room07 #r7sabrinaBox{
    position: absolute;
    top:21.8%;
    left: 68.65%;
    width: 135px;
    height: 194px;
    cursor: pointer;
    perspective: 1000px;
    display: none;
    z-index: 2;
    
}
#room07 #r7sabrinaBox img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 2;
}
#room07 #r7sabrinaBox:hover > #r7sabrina{
    transform: rotateY(180deg);
}
#room07 #r7sabrinaBox:hover > #r7sabrinahover{
    transform: rotateY(0deg);
}
#room07 #r7sabrinaBox #r7sabrina{
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: .4s ease-in-out;
    z-index: 2;
}
#room07 #r7sabrinaBox #r7sabrinahover{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: .4s ease-in-out;
    z-index: 2;
}

#room07 #r7Butterfly{
    position: absolute;
    top:56.3%;
    left: 88.4%;
    width: 40px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#room07 #r7Butterfly:hover{
    animation: butterfly 1.5s linear infinite;
}

#room07 #r7fishBox{
    position: absolute;
    top:54%;
    left: 69.7%;
    width: 227px;
    height: 165px;
    cursor: pointer;
    background-color: transparent;
    display: none;
    z-index: 2;
}
#room07 #r7fishBox:hover > #r7leftfish{
    left:20px;
}
#room07 #r7fishBox:hover > #r7rightfish{
    right:20px;
}
#room07 #r7fishBox img{
    position: absolute;
    top: 68px;
    width: 95px;
    height: auto;
    transition: .3s;
    z-index: 2;
}
#room07 #r7fishBox #r7leftfish{
    left:10px;
}
#room07 #r7fishBox #r7rightfish{
    right:10px;
}
#room07 .r7arrow{
    width: 10px;
    height: auto;
    position: absolute;
    bottom: 7.5%;
    display: none;
    opacity: 0;
    
}
#room07 #r7arrow1{
    left:54.8%;
}
#room07 #r7arrow2{
    left:55.5%;
}
#room07 #r7arrow3{
    left:56.2%;
}
#room07 #r7arrow4{
    left:56.9%;
}
#room07 #r7arrow5{
    left:57.6%;
}
#room07 #r7arrow6{
    left:58.3%;
}
#room07 #r7arrow7{
    left:59%;
}

#room07pass{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    display: none;
    z-index: 2;
}
@keyframes start{
    0%{
        left: calc(50% - 250px);
        
    }
   
    100%{
        left: calc(50% - 410px);
    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }

}
@keyframes yellowlove{
    0%{
        top: 20%;
        transform: scale(1);
    }
    100%{
        top: 15%;
        transform: scale(2);
    }
}
@keyframes redlove{
    0%{
        top:24%;
    }
    50%{
        top: 32%;
    }
    100%{
        top: 24%;
    }

}
@keyframes butterfly{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes rotateBrid{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#room07 .room .background{
    width: 800px;
    height: auto;z-index: -1;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room07 .room .people{
    position: absolute;
    /* top: 113px;
    left: 275px; */
    top: 129px;
    left: 282px;
    width: 260px;
    height: auto;
    z-index: 99999999999999;
    cursor: pointer;
}

#room07 .room .card{
    position: absolute;
    top: 60px;
    right: -20px;
    width: 280px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}

#room07 .room .card-right{
    position: absolute;
    bottom: -45px;
    right: -23px;
    width: 360px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
#room07 .room .card-left{
    position: absolute;
    bottom: -60px;
    left: -23px;
    width: 390px;
    height: auto;
    z-index: 99999;
    animation: fadeout 2s linear;
    transform: scale(3);
    opacity: 0;
}
