    
 html{
    
    overflow: hidden;
    overflow-y:auto;
 }
.OpeningAnimation{
    width: 100%;
    height: 100%;
    transition: 1s;
    position: fixed;
    top: 0;
    z-index: 9999999999;
}
main{
    width: 100%;
    height: auto;
    background-color: #000;
    
    
}
/* .container{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
} */

.room{
    position: relative;
    width: 100%;
    height: 100vh;
}
.background{
    position: absolute;
    left:calc(50% - 350px);
    top:  calc(50% - 250px);
    width: 700px;
    height: 442px;
}
.background1{
    transform: skew(0deg, 0deg) scale(1) translate(0,0);
    transition: .9s ease;
}
.background2,.background3{
    transform: perspective(200px) rotateX(15deg) skew(10deg, -20deg) scale(2) translate(600px,150px);
    transition: .9s ease;
}