    
 html{
    
    overflow: hidden;
    overflow-y:auto;
 }

main{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.room{
    width: 700px;
    height: 442px;
    position: absolute;
    top:calc(50% - 221px);
    left: calc(50% - 200px);
    
}

.room .background{
    width: 700px;
    height: auto;
}
#bg1{
    transform: rotate(0deg)  translateY(0%);
}
#bg2,#bg3,#bg4,#bg5,#bg6,#bg7{
    transform: rotate(20deg)  translateY(200%);
    opacity: 0;
}

